@use 'utils/variables';
@use 'utils/mixin';
@use 'utils/placeholders';
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --teru-base-col-1: #121212;
  --teru-base-col-2: #424242;
  --teru-primary-col-1: #32363f;
  --teru-primary-col-2: #d4d4cc;
  --teru-primary-col-3: #646464;
  --teru-shadow-1: 0px 12px 16px rgba(28, 26, 39, 0.08), 0px 8px 12px rgba(28, 26, 39, 0.12),
    0px 0px 1px rgba(28, 26, 39, 0.16);
  --teru-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --teru-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --teru-shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --teru-shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);
  --teru-border-nav-col: #e3e1e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--teru-base-col-1);
}

::-webkit-scrollbar {
  background-color: var(--teru-primary-col-1);
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--teru-primary-col-1);
  border-radius: calc(15px / 2);
}

::-webkit-scrollbar-track {
  background-color: var(--teru-primary-col-3);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6em;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}

// some custom thing here
.pe-none {
  pointer-events: none;
}
