@import '../GlobalStyles/GlobalStyles';
@import './Navbar';
@import '../../components/GlobalStyles/utils';

// navbar
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  position: relative;
  padding: 25px 45px;
  border-radius: 10px;
}

.join-btn {
  @extend %btn-base;
  @include btn(pointer, 20px); // TODO: FIX THIS LINE
  background: var(--teru-primary-col-1);
  color: var(--teru-primary-col-2);
  &:hover {
    background: var(--teru-base-col-2);
  }
}
