// for Hero Header
.main {
  // margin: 10%;
  min-height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // position: absolute;
  .hero {
    text-align: left;
    color: white;
  }
}
